<div class="container-fluid mt-4 p-3 background">
    <div class="container-xl mb-4">
        <div class="row text-center">
            <h2>Formulario de contacto</h2>
        </div>
    <form (ngSubmit)="enviarFormulario()">
        <div class="row m-3">
        <div class="col">
        <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nombre" name="nombre">
        </div>
        <div class="col">
        <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="apellido" name="apellido">
        </div>
        </div>
        <div class="row m-3">
        <div class="col">
        <input type="tel" class="form-control" placeholder="Celular">
        </div>
        <div class="col">
        <input type="email" class="form-control" placeholder="Correo electrónico">
        </div>
        </div>
        <div class="row m-3">
        <div class="col">
        <textarea class="form-control" rows="3" placeholder="Mensaje"></textarea>
        </div>
        </div>
        <div class="row m-3">
        <div class="col">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
        </div>
    </form>
    </div>
</div>