.banner {
    background-image: url('/assets/banner.png');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;    
    justify-content: center;    
    align-items: flex-start; 
    color: white;
    font-family: 'Comic Sans MS', 'Fredoka', cursive;
    padding: 80px;
    gap: 20px;
    padding-right: 120px;
}

.banner p {
    font-size: 22px;
}

.boton-divertido {
  background-color: #ffcc00;
  color: #744107;
  font-size: 1.5rem;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  animation: rebote 2s infinite;
}

.boton-divertido:hover {
  transform: scale(1.1) rotate(-2deg);
  background-color: #ff9900;
}

@keyframes rebote {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.colecciones {
    display: flex;
    flex-direction: column;    
    justify-content: center;    
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    padding: 40px;
}

.colecciones h2 {
    color: rgb(33, 138, 103);
}

.colecciones p {
    font-size: 18px;
    color: #744107;
    font-weight: bold;
}

.libros {
    display: flex;
    gap: 20px;
    text-align: center;
}

.libros img {
    width: 70%;
    cursor: pointer;
}

.libros img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}