<div class="banner">
    <h2>Bienvenido al mundo de los libros</h2>
    <p>Historias mágicas, criaturas fantásticas y aventuras inolvidables te esperan al otro lado de la pantalla. ¡Prepárate para vivir momentos únicos, aprender jugando y soñar sin límites!</p>
    <button class="boton-divertido">Explora ahora</button>
</div>

<div class="colecciones">
    <h2>Colecciones fantasticas</h2>
    <div class="libros">
        <div class="libro">
            <img src="assets/libro1.png" alt="libro de misterio">
            <p>Misterio</p>
        </div>
        <div class="libro">
            <img src="assets/img2.png" alt="libro de ficción">
            <p>Ficción</p>
        </div>
        <div class="libro">
            <img src="assets/img3.png" alt="libro de aventuras">
            <p>Aventuras</p>
        </div>
        <div class="libro">
            <img src="assets/img4.png" alt="libro de misterio">
            <p>Amor</p>
        </div>
        <div class="libro">
            <img src="assets/img5.png" alt="libro de ficción">
            <p>Miedo</p>
        </div>
        <div class="libro">
            <img src="assets/img6.png" alt="libro de aventuras">
            <p>Princesas</p>
        </div>
    </div>
</div>

<div class="container-fluid p-0 m-0">
   <app-listalibros></app-listalibros>
</div>
<div class="container-fluid p-0 m-0">
    <app-contacto></app-contacto>
</div>